/* CUSTOM PROPS  */
:root {
  --tex-color:#333;
  --green: #0a775f;
  --outline-color:var(--green);
  --black:#000;
  --acsent-color-brawn: #C99B67;
  --bg-color-brawn:#f3d787;
}

/* FONTS  */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
    url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



/* GLOBAL */
html {
  height: 100%;
  box-sizing:border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.75;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #fff;
  color: var(--tex-color);
}

img {
  max-width: 100%;
  height: auto;
}

*:focus {
  outline: 2px dashed var(--outline-color);
  outline-offset: 3px;
}


.button {
  display: inline-block;
  padding: 16px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius:100px;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.green-button {
  background-color:var(--green);
  color:#fff;
  transition: opacity 0.3s ease;
}

.green-button:hover {
  opacity: 0.8;
}

.green-button:active {
  opacity: 0.6;
}


/* CONTAINER  */
.container {
  width: 100%;
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN CONTENT  */
.main-content {
  flex-grow: 1;
  padding-top: 20px;
  padding-bottom: 50px;
}


/* SITE HEADER HERO WRAPPER   */
.site-header-hero-wrapper {
  background-image: url(../img/header-bg.jpg);
  background-color: var(--bg-color-brawn);
}


/* HEADER  */
.site-header {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 5px;
}

.header-container {
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo-link {
  display: flex;
  flex-shrink: 0;
  transition: opacity 0.3s ease;
}

.header-logo-link:hover {
  opacity: 0.8;
}

.header-logo-link:active {
  opacity: 0.6;
}

.sitenav-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav-link:not(:last-child) {
  margin-right: 40px;
}

.sitenav-links {
  display: block;
  color:var(--tex-color);
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity, color 0.3s ease;
  white-space: nowrap;
}

.sitenav-links:hover {
  color:var(--green);
}

.sitenav-links:active {
  opacity: 0.6;
}


/* HERO  */
.hero-container {
  display: flex;
  padding-left: 0;
  padding-right: 0;
}

.hero-info-wrapper {
  width: 100%;
  max-width: 730px;
  padding-top: 116px;
  padding-bottom: 100px;
  padding-left: 150px;
  padding-right: 116px;
}

.hero-heading {
  font-weight: 700;
  font-size: 64px;
  line-height:normal;
  margin-top: 0;
  margin-bottom: 24px;
  color:var(--black);
}

.hero-text {
  font-weight: 400;
  font-size: 16px;
  margin-top: 0;
}

.hero-text:not(:last-child) {
  margin-bottom: 34px;
}

.hero-img {
  width: 710px;
  height: 596px;
  object-fit: cover;
}

.hero-img-index {
  height: 696px;
}


/* INDEX COLLECTION  */
.main-content-inner {
  padding: 50px 143px;
  background-image: url(../img/index-collection-bg.jpg);
}

.main-heading {
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  margin-top: 0;
  margin-bottom: 80px;
  color:var(--black);
  text-transform: uppercase;
}

.index-collection-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.index-collection-item {
  display: flex;
  align-items: center;
}

.index-collection-item:nth-child(even) {
  flex-direction:row-reverse;
}

.index-collection {
  flex-grow: 1;
  padding-left: 117px;
  padding-right: 117px;
}

.index-collection-img {
  width: 450px;
  height: 375px;
  object-fit: cover;
  flex-shrink: 0;
}

.index-collection-heading {
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  color:var(--black);
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.index-collextion-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  margin: 0;
}

.index-collextion-text:not(:last-child) {
  margin-bottom: 10px;
}


/* RETINA BG  */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .site-header-hero-wrapper {
    background-image: url(../img/header-bg@2x.jpg);
  }

  .main-content-inner {
    background-image: url(../img/index-collection-bg@2x.jpg);
  }
}